* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: system-ui;
  scroll-behavior: smooth;
}

body{
  height: 80vh
}

/* Preloader section */
.preloader {
  display: flex;
  justify-content: center;
  background-color: #000;
  background-size: 50%;
  height: 100vh;
  width: 100vw;
  position: fixed;
  z-index: 6;
}

.circle {
  margin-top: 50vh;
  width: 50px;
  height: 50px;
  border: 3px solid rgba(255, 255, 255, 0);
  border-radius: 50%;
  border-top-color: #fff;
  animation: spin 1s ease-in-out infinite;
  -webkit-animation: spin 1s ease-in-out infinite;
}

@keyframes spin {
  to { -webkit-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
  to { -webkit-transform: rotate(360deg); }
}

/* Cursor section*/
.cursor {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: rgb(255, 255, 255);
  mix-blend-mode: difference;
  transition: all 200ms ease;
  position: fixed;
  pointer-events: none;
  transform: translate(-50%, -50%);
  z-index:10;
  top:0;
  left:0;
}

/* Navbar section */
.navbar {
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  position: sticky;
  top: 0;
  z-index: 4;
  box-shadow: rgba(255, 255, 255, 0.8) 0px 0px 1px;
  backdrop-filter: blur(30px);
  transition: all .3s ease;
}

.navbar__container {
  display: flex;
  justify-content: space-between;
  height: 80px;
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 50px;
}

#navbar-logo {
  background: #000000;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to top, #6c6c6c, #000000);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top, #6c6c6c, #000000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  cursor: pointer;
  text-decoration: none;
  font-size: 2rem;
  margin-top: 2.5vh;
}

#navbar-logo:hover {
  transition: all .5s ease-in-out;
  background: #000000;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #6c6c6c, #000000);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #6c6c6c, #000000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

.navbar__menu {
  display: flex;
  align-items: center;
  list-style: none;
}

.navbar__links {
  color: rgb(0, 0, 0);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80px;
  text-decoration: none;
  height: 100%;
  transition: all 0.3s ease;
}

.navbar__links:hover {
  color:#00000078;
  transition: all 0.5s ease;
}

.highlight {
  text-decoration: underline;
  text-underline-offset: 8px;
}

.mobile__navbar, .mobile__btns, .mobile__menu, #mobile-logo{
  display: none;
}

@media screen and (max-width: 642px) {
  .navbar__menu {
    display: none;
  }

  .navbar__container {
    display: flex;
    justify-items: flex-end;
  }

  .mobile__btns {
    display: block;
  }

  #open-menu {
    margin-top: 5vh;
    padding-bottom: 8px;
    color: rgb(0, 0, 0);
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    transition: all .5s ease;
    background-image: linear-gradient(#000 0 0);
    background-position: 0 100%; /*OR bottom left*/
    background-size: 0% 2px;
    background-repeat: no-repeat;
    transition:
    background-size 0.5s,
    background-position 0s 0.5s; /*change after the size immediately*/
  }

  #open-menu:hover {
    background-position: 100% 100%; /*OR bottom right*/
    background-size: 100% 2px;
  }

  #close-menu {
    margin-top: 5vh;
    padding-bottom: 8px;
    color: rgb(255, 255, 255);
    display: none;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    transition: all .5s ease;
    background-image: linear-gradient(rgb(255, 255, 255) 0 0);
    background-position: 0 100%; /*OR bottom left*/
    background-size: 0% 2px;
    background-repeat: no-repeat;
    transition:
    background-size 0.5s,
    background-position 0s 0.5s; /*change after the size immediately*/
  }

  #close-menu:hover {
    background-position: 100% 100%; /*OR bottom right*/
    background-size: 100% 2px;
  }

  .mobile__navbar {
    position: fixed;
    top: 0;
    padding: 1rem;
    padding-bottom: 3rem;
    background-color: rgb(88, 81, 73);
    height: 100vh;
    width: 100vw;
    justify-content: flex-start;
    align-items: flex-end;
    transition: all .5s ease;
    z-index: 1;
  }

  .mobile__menu {
    display: block;
    list-style: none;
  }

  .mobile__links {
    color: rgb(255, 255, 255);
    width: 80px;
    text-decoration: none;
    height: 100%;
    transition: all 0.3s ease;
    font-size: 4rem;
    margin-left: 6vw;

    padding-bottom:8px;
    background-image: linear-gradient(rgb(255, 255, 255) 0 0);
    background-position: 0 100%; /*OR bottom left*/
    background-size: 0% 2px;
    background-repeat: no-repeat;
    transition:
      background-size .3s,
      background-position 0s .3s; /*change after the size immediately*/
  }

  .mobile__links:hover {
    background-position: 100% 100%; /*OR bottom right*/
    background-size: 100% 4px;
  }  

  #mobile-logo {
    text-decoration: none;
    color: white;
    font-size: 2rem;
    margin-top: 2.5vh;
  }

  #mobile-logo:hover{
    color:#ffffff78;
    transition: all 0.5s ease;
  }

  .navbar__id {
    position: relative
  }

  .id {
    color: #fff;
    position: absolute;
    top: 20px;
    font-size: .75rem;
    font-weight: 700;
  }
}


/* Home section */
.home {
  background-color: #fff;
  padding: 200px 0;
}

.home__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  height: 25vh;
  text-align: center;
  padding: 30px;
  margin-top: 0;
  margin-bottom: 8vh;
}

.home__container h1{
  font-size: 6rem;
  font-weight: 400;
  position: relative;
}

.home__id {
  top: 25px;
  left: -25px;
  position: absolute;
  font-size: 1rem;
}

@media screen and (max-width: 642px) { 
  .home__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    height: 25vh;
    text-align: left;
    padding: 30px;
    margin-top: -5vh;
    margin-bottom: 8vh;
  }
  
  .home__container h1{
    padding-left: 3vw;
    font-size: 6rem;
    font-weight: 400;
    position: relative;
  }
  
  .home__id {
    top: 25px;
    left: -15px;
    position: absolute;
    font-size: 1rem;
  }
}
/* About section */
.about {
  height: 75vh;
  padding:0;
  margin: 0 auto;
  margin-bottom: 50vh;
}

.about__container {
  display: flex;
  margin: 0 auto;
  height: 25vh;
  text-align: center;
}

.about__header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 5vh;
  padding: 0 5vw;
  padding-bottom: 20vh;
}

.about__header h2 {
  font-size: 1rem;
  font-weight: 400;
}

:root {
  --no-of-slides: 6;
  --slide-width: 200px;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(var(--slide-width) * var(--no-of-slides)* -1));
  }
}

.carousel__wrapper {
  display: flex;
  align-items: center;
  width: 100%;
  overflow: hidden;
  margin: 0 auto;
}

.carousel__slide {
  background-color: #ffffff;
  animation: scroll 15s linear infinite;
  display: flex;
  flex-direction: column;
  flex: 0 0 auto;
  width: 230px;
  box-sizing: border-box;
  font-size: 1.5rem;
  white-space: nowrap;
}

.about__image {
  position: relative;
  padding: 0 2rem;
  margin-left: 2rem;
  margin-top: -5rem;
}

#shaniza-image {
  width: auto;
  height: 70vh;
}

@media screen and (max-width: 642px) {
  .about__image {
    padding:2rem;
    position: relative;
    display: flex;
    justify-content: center;
    margin-left: 0;
    margin-top: -6rem;
  }

  #shaniza-image {
    width:85%;
    height: auto;
  }
}

/* Projects section */
.projects {
  background-color: #fff;
  margin-top: 30vh;
  margin-bottom: 30vh;
}

.projects__container {
  background-color: #fff;
  display: flex;
  margin: 0 auto;
  height: 25vh;
  text-align: center;
  padding: 0;
}

.projects__header {
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 5vh;
  padding: 0 5vw;
}

.projects__header h2 {
  font-size: 1rem;
  font-weight: 400;
}

.projects__scroller {
  background-color: #fff;
  display: grid;
  gap: 1rem;
  padding: 0 1rem;
  grid-auto-flow: column;
  grid-auto-columns: 45%;
  overflow-x:auto;
  overscroll-behavior-inline: contain;
}

/* Hide scrollbar for Chrome, Safari & Opera*/
.projects__scroller::-webkit-scrollbar { 
  display: none;
}

/* Hide scrollbar for IE, Edge & Firefox */
.projects__scroller {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.snap__scrolling {
  scroll-snap-type: inline mandatory;
}

.snap__scrolling > * {
  scroll-snap-align: start;
}

.project__element {
  padding: 1rem;
}

.project__element img {
  inline-size: 100%;
  aspect-ratio: 16/9;
  object-fit: cover;
  border-radius: 4px;
  filter: grayscale(75%);
  -webkit-filter: grayscale(75%);
}

.project__element img:hover {
  transform: scale(1.025);
  transition: all .5s ease;
  cursor: pointer;
}

.project__title {
  margin-bottom: 1rem;
  float: right;
}

.projects__btns{
  margin-left: 1rem;
}

#left-btn, #right-btn {
  padding: 1.5rem .25rem;
  cursor: pointer;
  font-size: 1rem;
  background-color: #fff;
  border: none;
}

@media screen and (max-width: 642px) { 
.projects__scroller {
  grid-auto-columns: 85%;
  }
}

/* Contact section */
.contact {
  background-color: #000000;
  color: white;
  /* margin-top: 30vh; */
  z-index: 0;
  
}

.contact__container {

  background-color: #000000;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.contact__header {
  background-color: #000000;
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 5vh;
  padding: 5vh 5vw;
  padding-top: 10vh;
}

.contact__header h2 {
  font-size: 1rem;
  font-weight: 400;
}

.contact__info {
  padding: 1.5rem;
}

.contact__list {
  display: flex;
  flex-direction: column;
  list-style: none;
  gap: .75rem;
}

#contact-email, #contact-phone, #contact-github, #contact-linkedin {
  color:white;
  text-decoration: none;
  font-size: 2rem;
  padding-bottom:6px;
  background-image: linear-gradient(rgb(255, 255, 255) 0 0);
  background-position: 0 100%;
  background-size: 0% 2px;
  background-repeat: no-repeat;
  transition:
    background-size 0.3s,
    background-position 0s 0.3s; 
}

#contact-email:hover, #contact-phone:hover, #contact-github:hover, #contact-linkedin:hover{
  background-size: 100% 2px;
}

#contact-copyright {
  padding-bottom: 1rem;
  text-align: left;
  float:left;
  margin-top: 10.5rem;
  font-size: 1.5rem;
}


/* Footer */
.footer {
  display: flex;
  justify-content: center;
  font-size: 1rem;
}

.footer__container{
  display: flex;
  align-items: center;
  justify-items: flex-end;
  position: fixed;
  bottom: 2%;
  border-radius: 1.5rem;
  height: 60px;
  width: 400px;
  background-color: rgba(195, 195, 195, 0.4);
  box-shadow: rgba(255, 255, 255, 0.8) 0px 0px 1px;
  backdrop-filter: blur(20px);
  transition: all .3s;
}

.footer__menu {
  display: flex;
  list-style: none;
  margin-inline: 78px;
}

#footer-logo {
  background: #000000;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to top, #6c6c6c, #000000);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top, #6c6c6c, #000000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  cursor: pointer;
  text-decoration: none;
  font-size: 2rem;
  margin-inline: 19px;
}

#footer-logo:hover {
  transition: all .5s ease-in-out;
  background: #000000;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #6c6c6c, #000000);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #6c6c6c, #000000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

.footer__links {
  color: rgb(0, 0, 0);
  display: flex;
  align-items: center;
  width: 55px;
  text-decoration: none;
  height: 100%;
  transition: all 0.3s ease;
}

.footer__links:hover {
  color:#00000078;
  transition: all 0.5s ease;
}